<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

  <appSettings>
    <!-- Puerto HTTP del listener OWIN -->
    <add key="Gateway:Url" value="http://+:9080" />

    <!-- Sinerfin2 backend -->
    <add key="Sinerfin:BaseUrl" value="http://192.168.1.190:8080/sinerfin2-1.0/" />

    <!-- Kafka -->
    <add key="Kafka:BootstrapServers" value="192.168.1.190:9092" />
    <add key="Kafka:TopicPagos"       value="sinerfin.pagos" />
    <add key="Kafka:TopicAuditoria"   value="sinerfin.auditoria" />

    <!-- IBM MQ REST API -->
    <add key="MQ:Host"               value="bus.sinergy.local" />
    <add key="MQ:RestPort"           value="9443" />
    <add key="MQ:QueueManager"       value="SINERFIN" />
    <add key="MQ:User"               value="" />
    <add key="MQ:Password"           value="" />
    <add key="MQ:QueuePagos"         value="SINERFIN.PAGOS.REQUEST" />
    <add key="MQ:QueueTransacciones" value="SINERFIN.TRANSACCIONES" />
  </appSettings>

  <system.diagnostics>
    <trace autoflush="true" indentsize="2">
      <listeners>
        <add name="console"
             type="System.Diagnostics.ConsoleTraceListener" />
        <add name="file"
             type="System.Diagnostics.TextWriterTraceListener"
             initializeData="sinerfin-gateway-clr.log" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
