<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <!-- Sinerfin2 backend (mismo que appsettings.json) -->
    <add key="Sinerfin:BaseUrl" value="http://192.168.1.190:8080/sinerfin2-1.0/" />

    <!-- Kafka -->
    <add key="Kafka:BootstrapServers" value="192.168.1.190:9092" />
    <add key="Kafka:TopicPagos"       value="sinerfin.pagos" />
    <add key="Kafka:TopicAuditoria"   value="sinerfin.auditoria" />

    <!-- IBM MQ REST API -->
    <add key="MQ:Host"               value="bus.sinergy.local" />
    <add key="MQ:Port"               value="1414" />
    <add key="MQ:RestPort"           value="9443" />
    <add key="MQ:QueueManager"       value="SINERFIN" />
    <add key="MQ:Channel"            value="DEV.APP.SVRCONN" />
    <add key="MQ:User"               value="" />
    <add key="MQ:Password"           value="" />
    <add key="MQ:QueuePagos"         value="SINERFIN.PAGOS.REQUEST" />
    <add key="MQ:QueueTransacciones" value="SINERFIN.TRANSACCIONES" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>

  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0"
           path="*."
           verb="*"
           type="System.Web.Handlers.TransferRequestHandler"
           preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>

</configuration>
